<a href="https://colab.research.google.com/github/sohamtalukdar/Enron-Email-Analysis/blob/main/Vlabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!mkdir "/content/drive/MyDrive/maildir/"
!tar -xzvf "/content/drive/MyDrive/enron_with_categories.tar.gz" -C "/content/drive/MyDrive/maildir/"

In [73]:
import pandas as pd 
import csv
import os

In [71]:
import csv
import os

# Map folder names to label values
labels = {
    "1": "Company Business, Strategy, etc.",
    "2": "Purely Personal",
    "3": "Personal but in professional context",
    "4": "Logistic Arrangements",
    "5": "Status arrangements",
    "6": "Document editing/checking",
    "7": "Empty message",
    "8": "Empty message"
}

root_directory = '/content/drive/MyDrive/maildir/enron_with_categories/'
fields = ["Message Body", "Company Business, Strategy, etc.", "Number"]
rows = []

for folder_name in os.listdir(root_directory):
    folder_path = os.path.join(root_directory, folder_name)
    if os.path.isdir(folder_path):
        label = labels[folder_name]
        for filename in os.listdir(folder_path):
            if filename.endswith(".txt"):
                with open(os.path.join(folder_path, filename), 'r') as f:
                    data = f.read()
                    message_body = data.split("\n\n")[-1]
                    number = int(filename.split(".")[0])
                    rows.append({"Message Body": message_body, "Company Business, Strategy, etc.": label, "Number": number})

with open("email_bodies.csv", "w", newline="") as f:
    writer = csv.DictWriter(f, fieldnames=fields)
    writer.writeheader()
    for row in rows:
        writer.writerow(row)

In [75]:
pd.read_csv("email_bodies.csv")

,Message Body,"Company Business, Strategy, etc.",Number
0,NaN,"Company Business, Strategy, etc.",114715
1,Bonne \nEB1669B,"Company Business, Strategy, etc.",229405
2,NaN,"Company Business, Strategy, etc.",232795
3,Will provide a further report on market-based ...,"Company Business, Strategy, etc.",62815
4,"Judge asked everyone to consider how to ""Share...","Company Business, Strategy, etc.",118871
...,...,...,...
1697,- #92332 v1 - Verification - Interrogatories.wpd,Empty message,232322
1698,\n,Empty message,175448
1699,+---------------------------------------------...,Empty message,175814
1700,\nSue Mara\nEnron Corp.\nTel: (415) 782-7802\n...,Empty message,175816
1701,NaN,Empty message,175841